{% extends "base.html" %}
{% block content %}

    <h1>All your posts</h1>
        <ul>
            {% for post in all_posts %}
            <li>
                <h2>
                    <a href="/blog?id={{post.id}}">{{post.title}}</a>
                </h2>
                <p>{{post.body}}</p>
                <p>{{post.created}}</p>
                <p>Written by <a href="/blog?user={{post.owner.id}}">{{post.owner.username}}</a></p>
            </li>
            
            {% endfor %}
        </ul>
      
{% endblock %}