<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <title>{{title}}</title>
    </head>
<body>
    <main>
        <div class="container">
                
               
    
        <nav>
            <a href="/" id="nav0"><strong>Home</strong></a>
            <a href="/blog" id="nav1"><strong>Main Blog</strong></a>
            <a href="/newpost" id="nav2"><strong>Make a new post</strong></a>
            <a href="/login" id='nav3'><strong>Login</strong></a>
            <a href="/logout" id='nav4'><strong>Logout</strong></a>
        </nav>
        
    {% block content %}
    {% endblock %}

        </div>
        </div>
    </main>    
</body>
</html>