{% extends "base.html" %}

{% block content %}
<h1>What would you like to share?</h1>
<br>
<br>
<br>
<br>
<form action="/newpost" method='POST'>
    <label for="title_field" id=title_box>Give it a name:</label>
    <input type="text" name='title_field' value="{{new_post_title}}">
<br>
<br>
<br>
<br>
    <label for="body_field" id="bfield">Say what ya gotta say:</label>
    <textarea name="body" id="body_field" cols="30" rows="2">{{new_post_body}}</textarea>
    <br>
    <br>
    <br>
    <br>
    <input type="submit" name="submit_button" id="post_button" value="Post">


</form>
{% endblock %}