h1{
    text-align: center;
}

#nav2{
    font-size: 20px;
    padding: 15px;
    
}

#nav1{
    font-size: 20px;
    padding: 15px;
    
}

label{
    font-size: 25px;
    margin-left: 200px;
}

#post_button{
    margin-left: 400px;
    height: 30px;
    width: 75px;
}

ul {
    list-style-type: none;
    padding: 20px;
    text-align: center;
    
}

li{
    padding: 20px;
}

.body{
    background-color: rgb(202, 202, 202);
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    width: 900px ;    
}

body{
    background-color: rgb(179, 179, 179);
}

a:hover{
    background-color: rgb(110, 100, 103)
}

p{
    text-align: center;
}

main {
    display: flex;
    justify-content: flex-start;
}

#button{
    margin-left: 200px;
}
